/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin: 10px;
  padding: 10px;

  height: 100%;
}

.success-dialog {
  color: #155724 !important;
  background-color: #D4EDDA !important;
  .mat-simple-snackbar-action {
    color: #155724 !important;
  }
}

.error-dialog {
  color: #721C24 !important;
  background-color: #F8D7DA !important;
  .mat-simple-snackbar-action {
    color: #721C24 !important;
  }
}
